customtkinter==5.2.2
darkdetect
numpy
opencv-python
onnxruntime
Pillow
mss
pyautogui
pynput
requests
pywin32
pygetwindow
pymsgbox
pyperclip
pyrect
pyscreeze
pytweening
mouseinfo
certifi
charset-normalizer
idna
urllib3
packaging
six
